# Python Basics - Assignments
--------------------------

## Question 1.
------
### Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. 
### The function should then return the updated  list.

**Examples**

    next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
    
    next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
    
    next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
    
    next_in_line([], 6) ➞ "No list has been selected"

In [1]:
def next_in_line(li, num):
    if li == []:
        print("No list has been selected")
    else:
        li.append(num)
        li.pop(0)
    return li

In [2]:
print(next_in_line([1, 10, 20, 42 ], 6))

next_in_line([], 6)

[10, 20, 42, 6]
No list has been selected

[]

## Question 2.
------


### Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

**Examples**

>get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }
]) ➞ 65700

>get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }
]) ➞ 62600

In [3]:
# Method 1
def get_budgets(l):
    sum_budget = 0 
    for i in l:
        if type(i) == dict:
            for j in i:
                if j == "budget":
                    sum_budget += i[j]
            
    return sum_budget

In [4]:
# Method 2 using .items()
def get_budgets(l):
    sum_budget = 0 
    for i in l:
        for j,v in i.items():
            if j == 'budget':
                sum_budget += v
            
    return sum_budget

In [5]:
print(get_budgets([ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ]))

get_budgets([ { "name": "John", "age": 21, "budget": 29000 }, { "name": "Steve", "age": 32, "budget": 32000 }, { "name": "Martin", "age": 16, "budget": 1600 } ])

65700

62600

## Question 3.
---------
### Create a function that takes a string and returns a string with its letters in alphabetical order.

**Examples**

>alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;

>alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;

>alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;

>alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;

>alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;

In [6]:
def alphabet_soup(s):
    li = []
    for i in s:
        li.append(i)
    li.sort()
    output = ''.join(li)
    return output

In [7]:
print(alphabet_soup("edabit") , "\n")

print(alphabet_soup("hacker"))

alphabet_soup("javascript")

abdeit

acehkr

'aacijprstv'

## Question 4.
----

### Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?

### Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

**For the example above:**

>compound_interest(10000, 10, 0.06, 12) ➞ 18193.97

Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.

>The formula for compound interest is given by

$$ A = P(1 + \frac{r}{n})^{nt}$$
**Examples**

    compound_interest(100, 1, 0.05, 1) ➞ 105.0

    compound_interest(3500, 15, 0.1, 4) ➞ 15399.26

    compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [8]:
def compound_interest(p, t, r, n):
    A  = p * ( 1 + (r/n))**(n*t)
    return round(A, 2)

In [9]:
print(compound_interest(100, 1, 0.05, 1), "\n")

print(compound_interest(3500, 15, 0.1, 4))

compound_interest(100000, 20, 0.15, 365)

105.0

15399.26

2007316.26

## Question 5.
-----

### Write a function that takes a list of elements and returns only the integers.

**Examples**

    return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]
    
    return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]
    
    return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20,3]
    
    return_only_integer(["String", True, 3.3, 1]) ➞ [1]

In [10]:
def return_only_integer(li):
    return [i for i in li if type(i) == int]

In [11]:
print(return_only_integer([9, 2, "space", "car", "lion", 16]))

print(return_only_integer(["hello", 81, "basketball", 123, "fox"]))

return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[9, 2, 16]
[81, 123]

[10, 56, 20, 3]