# Python Basics - Assignments
--------------------------

## Question 1.
----
### Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

**Examples**

    is_symmetrical(7227) ➞ True
    
    is_symmetrical(12567) ➞ False
    
    is_symmetrical(44444444) ➞ True
    
    is_symmetrical(9939) ➞ False
    
    is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    num = str(num)
    reverse = str(num)[::-1]
    if num == reverse:
        return True
    return False

In [2]:
print(is_symmetrical(7227), '\n' )

print(is_symmetrical(12567))

is_symmetrical(1112111)

True

False

True

## Question 2.
--------

### Given a string of numbers separated by a comma and space, return the product of the numbers.

**Examples**

>multiply_nums( &quot;2, 3&quot;) ➞ 6

>multiply_nums( &quot;1, 2, 3, 4&quot;) ➞ 24

>multiply_nums( &quot;54, 75, 453, 0&quot;) ➞ 0

>multiply_nums( &quot;10, -2&quot;) ➞ -20

In [3]:
def multiply_nums(st):
    st  = st.replace(",", " *")
    ans = eval(st)
    return ans

In [4]:
print(multiply_nums( "2, 3"), '\n' )

print(multiply_nums( "54, 75, 453, 0"))

multiply_nums( "10, -2")

6

0

-20

## Question 3.
---------

### Create a function that squares every digit of a number.

**Examples**

    square_digits(9119) ➞ 811181
    
    square_digits(2483) ➞ 416649
    
    square_digits(3212) ➞ 9414

***Notes***

The function receives an integer and must return an integer.

In [5]:
def square_digits(num):
    li = list(str(num)) 
    for i in li:
        print(int(i) **2, end = '')
        
square_digits(9119)

811181

In [6]:
square_digits(2483)

416649

## Question 4.
--------
### Create a function that sorts a list and removes all duplicate items from it.

**Examples**

    setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
    
    setify([4, 4, 4, 4]) ➞ [4]
    
    setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
    
    setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [7]:
def setify(li):
    li.sort() # sorting the list
    new_list = list(set(li)) # converting to set to get unique elements 
    return new_list

In [8]:
print(setify([1, 3, 3, 5, 5]))

setify([5, 7, 8, 9, 10, 15])

[1, 3, 5]

[5, 7, 8, 9, 10, 15]

## Question 5.
--------
### Create a function that returns the mean of all digits.

**Examples**

>mean(42) ➞ 3

>mean(12345) ➞ 3

>mean(666) ➞ 6

***Notes***
<li> The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2) / 3 {(number of digits) = 8/3=2).
<li> The mean will always be an integer.

In [9]:
def mean(num):
    li = list(str(num))
    sum_of_digit = 0
    num_length = len(li)
    for i in li:
        sum_of_digit += int(i)
   
    return int(sum_of_digit / num_length)

In [10]:
print(mean(512), '\n')

print(mean(12345))

mean(666)

2

3

6